@import "./base.css";

#app {
  /* max-width: 1280px; */
  margin: 0 auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--primary);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    border-bottom: 1px solid var(--primary);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    margin: 0;
    width: 100%;
  }

  #app {
    width: 100%;
  }
}
